spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tradingdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0

mybatis-plus:
  mapper-locations: classpath:mappers/**/*.xml
  type-aliases-package: com.example.tradingsystem.domain
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080
